Assignment/Connected Services/GeoService/GeoLocationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://assignment.edu/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://assignment.edu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://assignment.edu/">
      <s:element name="GetLatLong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatLongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatLongResult" type="tns:LocationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LocationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLatLongSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatLong" />
  </wsdl:message>
  <wsdl:message name="GetLatLongSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatLongResponse" />
  </wsdl:message>
  <wsdl:portType name="GeoLocationWebServiceSoap">
    <wsdl:operation name="GetLatLong">
      <wsdl:input message="tns:GetLatLongSoapIn" />
      <wsdl:output message="tns:GetLatLongSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeoLocationWebServiceSoap" type="tns:GeoLocationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatLong">
      <soap:operation soapAction="http://assignment.edu/GetLatLong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeoLocationWebServiceSoap12" type="tns:GeoLocationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatLong">
      <soap12:operation soapAction="http://assignment.edu/GetLatLong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeoLocationWebService">
    <wsdl:port name="GeoLocationWebServiceSoap" binding="tns:GeoLocationWebServiceSoap">
      <soap:address location="http://webstrar34.fulton.asu.edu/page1/GeoLocationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GeoLocationWebServiceSoap12" binding="tns:GeoLocationWebServiceSoap12">
      <soap12:address location="http://webstrar34.fulton.asu.edu/page1/GeoLocationWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>